@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Estore</h1>
    <h3>About us </h3>
    <h4>Vijay Kumar Sharma</h4>
    <h4>Student at CDAC</h4>
</div>
